*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.tex
*.synctex.gz
AspectJ-Tutorial-jayway/
AspectJ-Tutorial-jayway/*
closure-compiler/
closure-compiler/*
closure-compiler-master/
closure-compiler-master/*
performance-annotations/disl/closureTest/output
performance-annotations/disl/closureTest/output/*
.idea/
.idea/*
output/
output/*
