*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.tex
*.synctex.gz
AspectJ-Tutorial-jayway/
AspectJ-Tutorial-jayway/*
closure-compiler/
closure-compiler/*
closure-compiler-master/
closure-compiler-master/*
performance-annotations/disl/closureTest/output/
performance-annotations/disl/closureTest/output/*
performance-annotations/disl/closureTest/.idea/
performance-annotations/disl/closureTest/.idea/*
.idea/workspace.xml
performance-annotations/disl/closureTest/.idea/workspace.xml
output/
output/*
scratch/jar/*
performance-annotations/disl/closureTest/output/closureInst.jar

performance-annotations/disl/closureTest/output/inst/DiSLClass.class

performance-annotations/disl/closureTest/output/closureInst.jar

performance-annotations/disl/dacapoTest/lib/dacapo-9.12-bach.jar
performance-annotations/disl/dacapoTest/systemArchive/dat/daytrader.zip
