*.aux
*.fdb_latexmk
*.fls
*.log
*.xml
*.out
*.tex
*.synctex.gz
**/output/
**/output/*
**/scratch/
**/scratch/*

**/archive/*
**/jacob_irene_bachelor_project_report/*
**/project_planning/*
**/.idea/*
**/output/*
**/js/*

case_studies/disl/dacapoTest/lib/dacapo-9.12-bach.jar
case_studies/disl/dacapoTest/lucene/methods.txt
/case_studies/disl/dacapoTest/h2/methods.txt
case_studies/disl/dacapoTest/h2/getResult.dat
case_studies/disl/dacapoTest/h2/compare.dat
case_studies/disl/dacapoTest/h2/getResult.dat.zip
/case_studies/disl/dacapoTest/lucene/luindexMethods.txt
/case_studies/disl/dacapoTest/lucene/lusearchMethods.txt
/case_studies/disl/dacapoTest/sunflow/methods.txt
case_studies/disl/dacapoTest/lucene/luindexValues.dat
**/.DS_Store
samples
process_journal
case_studies/js
case_studies/libs
case_studies/Makefile~
case_studies/Makefile
case_studies/aspects.jar
case_studies/testAspects
**/src/AccessFeature.java
**/src/BasicFeature.java
**/src/HelloWorld.java
**/src/JSParserExecTime.java
**/src/MethodNames.java
**/src/StackTracer.java
**/src/dataStructures/
**/src/profiler/BasicProfiler.java
**/src/profiler/ProfileWithFeature.java
